*{
    margin: 0;
    padding: 0;
}

h1{
    margin: auto;
    width: 865px;
}
.ingredients{
    font-weight: bolder;
    margin: auto;
    width: 30%;
    margin-top: 20px;
}
.checklist{
    margin: auto;
    width: 617px;
    margin-top: 10px
}

.steps{
    margin: auto;
    width: 539px;
    margin-top: 20px
 
    
}
.method{
    font-weight: bolder;
    margin: auto;
    width: 30%;
    margin-top: 19px;
    
    
   
}
    

.forms{
    padding-left: 100px;
}

