.file {
    margin: auto;
    width: 30%;
    color: blue;
}

.recipe-name {
    margin: auto;
    width: 30%;
    color: blue;
}



.steps {


    color: blue;
    border: 5px;
    margin: auto;
    width: 30%;

}

.submit {

    color: white;
    display: block;
    background-color: rgb(46, 178, 46);
    margin: auto;
    width: 78px;
    margin-top: 20px;
border: none;
    cursor: pointer;
    border-radius: 100px;
height: 30px;
}

input[type=text],
select {


    margin: 8px 0;
    display: inline-block;
    border: 3px linen black;
    box-sizing: border-box;
}

.checklist {
    margin: auto;
    width: 30%;


    color: black;
}

.forms {
    border: 2px solid rgb(19, 19, 19);
    width: 700px;
    height: 586px;
    padding: 30px;
    background-color:#F0DCD2 ;
    margin: auto;
    margin-top: 100px;
    align-items: center;
font-family:cursive ;
font-weight: bold;
}

.Ingredients {
    color: blue;
    margin-top: 30px;
    margin: auto;
    width: 30%;


}

input[type=textarea] {
    border: 3px solid rgb(19, 19, 19);
}

.add-ingredients {
    margin: auto;
    width: 30%;
    display: block;
}