*{
    margin: 0;
    padding: 0;
}

h1{
    margin: auto;
    width: 865px;
}
.ingredients{
    font-weight: bolder;
    margin: auto;
    width: 30%;
    margin-top: 20px;
}


.steps{
    margin: auto;
    width: 539px;
    margin-top: 20px
 
    
}
.method{
    font-weight: bolder;
    margin: auto;
    width: 30%;
    margin-top: 19px;
    
    
   
}
    

.body{
    background-color: #d1eca9;
}
.image{
    display: block;
    

    width: 100%;
    height: 500px;

 
}
