.firstname{
    margin-left: 30px;
}
.lastname{
    margin-left: 33px;
}
.email{
    margin-left: 100px;
}
.password{
    margin-left: 60px;
}
.cpassword{
    margin-left: -25px;
}

  .submit{
    line-height: 3.8;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 30px;
    background-color: rgb(114, 157, 114);
    color: white;
    font-weight: bold;
    cursor: pointer;
  } 

.signup{
    line-height: 2.8;
    
}
h1{
    margin-left: 640px;

    
    place-items: center;
    margin-top: 100px;
}
form{
    display: grid;
    place-items: center;
    margin-top: 35px;
    
}
body{
    font-family: Comic Sans Ms;
    font-weight: bolder;
    font-size: x-large;
    background-color: rgb(226, 237, 226);
}