*{
    margin: 0;
    padding: 0;
}

h1{
    margin: auto;
    width: 865px;
    font-family: Comic Sans Ms;
    font-size: xx-large;
    font-weight: bolder;
}
.ingredients{
    font-weight: bolder;
    margin: auto;
    width: 30%;
    margin-top: 20px;
    font-family: Comic Sans Ms;
line-height: 1.8;
}
.checklist{
    margin: auto;
    width: 617px;
    margin-top: 10px;
    font-family: Comic Sans Ms;
    font-size: x-large;
    font-weight: bolder;
    line-height: 1.2;
}

.steps{
    margin: auto;
    width: 539px;
    margin-top: 20px;
 font-family: Comic Sans Ms;
 
 font-size: x-large;
 font-weight: bold;  
}
.method{
    font-weight: bolder;
    margin: auto;
    width: 30%;
    margin-top: 19px;
    line-height: 1.6;
    font-family: Comic Sans Ms;
   
}
    

.forms{
    padding-left: 100px;
}

.image{
    display:flex;
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 600px;
    
   
}
body{
    background-color: #dfebcc;
}
.write{
    width: 700px;
    height: 500px;
   margin-left: 400px;
   margin-top: 190px;
}